.btn {
    border: none;
    padding: 1rem 2rem;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    
    &-primary {
        color: var(--color, #000000);
        background: var(--primary-color, #FFF);

        &:hover {
            filter: saturate(2);
        }
    }

    &-outline {
        color: var(--color, #000000);
        border-color: var(--primary-color, #FFF);
        border-width: 2px;
        border-style: solid;
        background: var(--background, #000000);
        &:hover {
            background: #2e2507;
        }
    }
}