<div class="login-container">
  <div class="overlay"></div>
  <div class="card">
    <div class="card-content">
      <h4>{{ 'Login' | translate }}</h4>
      <form [formGroup]="loginForm" class="form-controls login-form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>{{ 'Email' | translate }}</mat-label>
          <input matInput type="email" [placeholder]="'placeholders.email' | translate" formControlName="email">
          <mat-error *ngIf="handleError('email', 'required')">{{'formErrors.emailRequired' | translate }}</mat-error>
          <mat-error *ngIf="handleError('email', 'email')">{{ 'formErrors.emailBadFormat' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'Password' | translate }}</mat-label>
          <input matInput type="password" [placeholder]="'placeholders.password' | translate" formControlName="password">
          <mat-error *ngIf="handleError('password', 'required')">{{'formErrors.passwordRequired' | translate }}</mat-error>
        </mat-form-field>
        <div class="form-control">
          <a routerLink="/auth/reset-password">{{ 'forgottenPassword' | translate }}</a>
        </div>
        <div class="form-control">
          <mat-checkbox name="rememberme" ngDefaultControl color="primary" formControlName="rememberme">{{ 'rememberMe' | translate }}</mat-checkbox>
        </div>
        <button mat-flat-button color="primary" [disabled]="loginForm.invalid" type="submit">{{'Login' | translate }}</button>
        <div class="divider">
          <p>{{ 'orLoginWith' | translate }}</p>
        </div>
        <div class="login-form__container">
          <button type="button" mat-fab color="accent">
            <mat-icon svgIcon="facebook"></mat-icon>
          </button>
          <button type="button" mat-fab color="accent">
            <mat-icon svgIcon="microsoft"></mat-icon>
          </button>
          <button type="button" mat-fab color="accent">
            <mat-icon svgIcon="twitter"></mat-icon>
          </button>
          <button type="button" mat-fab color="accent">
            <mat-icon svgIcon="google"></mat-icon>
          </button>
        </div>
        <div class="form-control">
          <a routerLink="/auth/register">{{'notRegistered' | translate }}</a>
        </div>
      </form>
    </div>
  </div>
</div>