<div class="login-container">
  <div class="overlay"></div>
  <div class="card">
    <div class="card-content">
      <h4>Login</h4>
      <form [formGroup]="loginForm" class="form-controls login-form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter your email" formControlName="email">
          <mat-error *ngIf="handleError('email', 'required')">Email is required</mat-error>
          <mat-error *ngIf="handleError('email', 'email')">Email bad format</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password">
          <mat-error *ngIf="handleError('password', 'required')">Password is required</mat-error>
        </mat-form-field>
        <div class="form-control">
          <a routerLink="/auth/reset-password">Forgot Password?</a>
        </div>
        <div class="form-control">
          <mat-checkbox name="rememberme" ngDefaultControl color="primary" formControlName="rememberme">Remember me</mat-checkbox>
        </div>
        <button mat-flat-button color="primary" [disabled]="loginForm.invalid" type="submit">Login</button>
        <div class="divider">
          <p>or login with</p>
        </div>
        <div class="login-form__container">
          <button type="button" mat-fab color="accent">
            <mat-icon svgIcon="facebook"></mat-icon>
          </button>
          <button type="button" mat-fab color="accent">
            <mat-icon svgIcon="microsoft"></mat-icon>
          </button>
          <button type="button" mat-fab color="accent">
            <mat-icon svgIcon="twitter"></mat-icon>
          </button>
          <button type="button" mat-fab color="accent">
            <mat-icon svgIcon="google"></mat-icon>
          </button>
        </div>
        <div class="form-control">
          <a routerLink="/auth/register">Not registered? Create a new account</a>
        </div>
      </form>
    </div>
  </div>
</div>