.series {
  padding: 1rem var(--body-padding, 2rem);

  p {
    opacity: 0.75;
  }

  .select-contaner {

    select {
      font-size: 18px;
      padding: 14px 18px;
      background: #464646;
      color: #FFFFFF;
      border: none;
    }
  }

  .grid {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}