<div class="series" #series>
  @if (seasons && !singleSeason) {
    <div class="series-dropdown">
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-select [formControl]="selectedSeason" (valueChange)="onSelectChange($event)">
          @for (item of seasons; track item.id) {
            <mat-option [value]="item.id"> {{ item.season_number | prefix: showSeasonNumber : '.' }} {{item.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  }
  <div class="series-grid" *ngIf="currentSeason">
    @for (item of currentSeason.episodes; track item.id) {
      <app-card [content]="item" aspectRatio="16x9" [showTitle]="true" [showOverview]="true"></app-card>
    }
  </div>
  <div class="series-footer">
    @if(!singleSeason) {
      <button *ngIf="prevSeason" mat-stroked-button color="primary" (click)="onPreviousSeason()">
        {{ prevSeason.season_number | prefix: showSeasonNumber : '.' }} {{prevSeason.name }}
      </button>
      <div></div>
      <button *ngIf="nextSeason" mat-stroked-button color="primary" (click)="onNextSeason()">
        {{ nextSeason.season_number | prefix: showSeasonNumber : '.' }} {{ nextSeason.name }}
      </button>
    }
  </div>
</div>