.series {
  padding: 1rem var(--body-padding, 2rem);

  p {
    opacity: 0.75;
  }

  &-dropdown {
    display: flex;
    justify-content: flex-end;
  }

  &-grid {
    padding: 1rem 0;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }

  &-footer {
    display: flex;
    justify-content: space-between;
    .icon {
      width: 20px;
      height: 20px;
    }
    .mat-mdc-outlined-button.mat-primary {
      --mdc-outlined-button-outline-color: var(--primary-color, #FFFFFF);
      padding: 1.5rem 2rem;
      max-width: 300px;
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}


