@import 'vars';

.aspect-ratio-1x1 {
    width: 370px;
    &__image-container img {
        width: 126px;
    }        
}


.description-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    &__image-container:hover {
        cursor: pointer;
    }

    &__info-container {
        flex: 2;
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        flex-wrap: nowrap;

        .title {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            color: #FFF;
            margin: 0;
        }

        .duration {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            padding: 0;
            margin: 0;
        }

        .live-tag-container {
            display: flex;
            margin-top: 16px;
        }

        .live-tag {
            background: $gradient-multicolor;
            border-radius: $border-radius;
            padding: 2px;

            .live-text {
                color: $primary-color;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                background: $dark-black;
                border-radius: $border-radius;
                padding: 8px;
            }
        }

        .live-tag:hover {
            cursor: pointer;
        }
    }
}
