<footer>
    <div class="footer-links">
    </div>
    <img class="logo" src="/assets/images/logo.svg" alt="playely"/>
    <div class="links">
        <a href="">Privacy policy</a>
        <a href="">Terms of Use</a>
        <a href="">Help</a>
    </div>
    <div class="credits">
        <p class="credits">This product uses the <a href="https://developer.themoviedb.org/reference/intro/getting-started" target="_blank">TMDB API</a> but is not endorsed or certified by TMDB.</p>
        <p class="credits">background patterns by <a href="https://www.svgbackgrounds.com" target="_blank">SVGBackgrounds.com</a></p>
        <p class="credits">This design and functionality were inspired by <a href="https://play.max.com/" target="_blank">Max</a> and <a href="https://www.disneyplus.com" target="_blank">Disney+</a>.</p>
    </div>
</footer>