<nav>
    <img [routerLink]="['/']" src="/assets/images/logo.svg" alt="playely"/>
    <div class="links">
        <a *ngFor="let route of routes" 
        [href]="route.route"
        [routerLink]="[route.route]"
        [routerLinkActiveOptions]="{ exact: true }" 
        routerLinkActive="active" 
        >{{route.name}}</a>
    </div>
    <div class="icons  desktop">
        <a class="icon icon-search" href="search" [routerLink]="['/search']"></a>
        <a class="icon icon-bookmark" href="my-content" [routerLink]="['/my-content']"></a>
        <a class="icon icon-user"></a>
    </div>
    <div class="icons mobile">
        <div class="icon icon-menu"></div>
    </div>
</nav>