<div class="register-container" [ngClass]="{'set-pad ' : !registered }" >
    <div class="overlay"></div>
    <div class="card">
        <div class="card-content">
            <h4>{{ 'createAccount' | translate }}</h4>
            <form *ngIf="!registered" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-controls register-form">
                <mat-form-field appearance="fill">
                    <mat-label>{{ 'Name' | translate }}</mat-label>
                    <input matInput type="text" [placeholder]="'placeholders.name' | translate" formControlName="name" >
                    <mat-error *ngIf="handleError('name', 'required')">{{ 'formErrors.nameRequired' | translate }}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>{{ 'Email' |translate }}</mat-label>
                    <input matInput type="email" [placeholder]="'placeholders.email' | translate" formControlName="email" >
                    <mat-error *ngIf="handleError('email', 'required')">{{ 'formErrors.emailRequired' | translate }}</mat-error>
                    <mat-error *ngIf="handleError('email', 'email')">{{ 'formErrors.emailBadFormat' | translate }}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>{{ 'Password' | translate }}</mat-label>
                    <input matInput type="password" [placeholder]="'placeholders.password' | translate" formControlName="password" >
                    <mat-error *ngIf="handleError('password', 'required')">{{ 'formErrors.passwordRequired' | translate }}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>{{ 'confirmPassword' | translate }}</mat-label>
                    <input matInput type="password" [placeholder]="'placeholders.confirmPassword' | translate" formControlName="confirmPassword" >
                    <mat-error *ngIf="handleError('confirmPassword', 'required')">{{ 'formErrors.confirmPasswordRequired' | translate }}</mat-error>
                  </mat-form-field>
                  <div class="form-control">
                    <mat-checkbox name="agreetc" ngDefaultControl color="primary" formControlName="agreeTC">
                      {{ 'agreeTC' | translate }}
                    </mat-checkbox>
                </div>
                <button mat-flat-button color="primary" [disabled]="registerForm.invalid" type="submit">{{ 'Register' | translate }}</button>
                <div class="divider"><p>{{ 'orEnterWith' | translate }}</p></div>
                <div class="register-form__container">
                    <button type="button" mat-fab color="accent">
                        <mat-icon svgIcon="facebook"></mat-icon>
                      </button>
                      <button type="button" mat-fab color="accent">
                        <mat-icon svgIcon="microsoft"></mat-icon>
                      </button>
                      <button type="button" mat-fab color="accent">
                        <mat-icon svgIcon="twitter"></mat-icon>
                      </button>
                      <button type="button" mat-fab color="accent">
                        <mat-icon svgIcon="google"></mat-icon>
                      </button>
                </div>
                <div class="form-control">
                    <a routerLink="/auth/login">{{ 'alreadyRegistered' | translate }}</a>
                </div>
            </form>

            <div *ngIf="registered">
              <p>{{ 'registerEmailMessage' | translate }}</p>
              <button mat-flat-button color="primary" type="button" routerLink="/home" >{{ 'goHome' | translate }}</button>
            </div>
        </div>
    </div>
</div>