@use '../../styles/breakpoints.scss' as bp;

.cardlist {
    box-sizing: border-box;
    overflow: hidden;
    padding-left: var(--body-padding, 2rem);
    @include bp.sm-breakpoint {
        padding: var(--body-mobile-padding, 1rem);
    }

    &-content {
        display: flex;
        gap: 1rem;
    }
}

.card {
    width: 20vw;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        display: flex;
        object-fit: cover;
        object-position: center;
    }
}