.cardlist {
    box-sizing: border-box;
    overflow: hidden;
    padding-left: var(--body-padding, 2rem);

    &-header {
        h2 {
            text-transform: capitalize;
        }
    }

    &-content {
        position: relative;

        &:hover {
            .arrow {
                display: flex;
            }
        }

        .arrow {
            position: absolute;
            top: 0;
            z-index: 1;
            min-width: 20px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;

            &.left {
                left: 0;
                background: linear-gradient(90deg, var(--background, #000), transparent);
            }

            &.right {
                right: 0;
                background: linear-gradient(270deg, var(--background, #000), transparent);
            }

            .icon {
                cursor: pointer;
                width: 40px;
                height: 40px;
            }
        }
    }
}