<div *ngIf="contentList" class="cardlist">
  <div class="cardlist-header"><h2>{{contentList.title}}</h2></div>
  <div class="cardlist-content">
    <swiper-container #swiper init="false" appSwiper [config]="swiperConfig">
      @for (item of contentList.contents; track item.id) {
        <swiper-slide><app-card [content]="item" [aspectRatio]="contentList.aspectRatio"></app-card></swiper-slide>
      }
    </swiper-container>
    <div class="arrow left">
      <div class="icon icon-arrow-left" (click)="prev()"></div>
    </div>
    <div class="arrow right">
      <div class="icon icon-arrow-right" (click)="next()"></div>
    </div>
  </div>
</div>
