<form class="auth-form" [formGroup]="fPasswordForm" (ngSubmit)="onSubmit()">
    <h1>Forgot your password?</h1>
    <p>Enter your email below and recieve a password reset link.</p>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="user@playely.com" formControlName="email">
      <mat-error>{{checkForErrorsIn('email')}}</mat-error>
    </mat-form-field>
    <button color="primary" mat-flat-button type="submit" [disabled]="fPasswordForm.invalid">Reset Password</button>
    <p>Don't have an account? <a routerLink="/auth/sign-up">Sign Up</a></p>
  </form>