<div class="card">
    <div class="card-content">
        <h4>{{ 'Account' | translate }}</h4>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab [label]="'Profile' | translate">
                <form class="edit-controls" [formGroup]="userForm" (ngSubmit)="editUser()" >
                    <mat-form-field>
                        <mat-label>{{ 'Name' | translate }}</mat-label>
                        <input matInput [placeholder]="'placeholders.name' | translate" formControlName="name">
                        <mat-error *ngIf="handleError('name', 'required')">{{ 'formErrors.nameRequired' | translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'Email' | translate }}</mat-label>
                        <input matInput [placeholder]="'placeholders.email' | translate" formControlName="email">
                        <mat-error *ngIf="handleError('email', 'required')">{{ 'formErrors.emailRequired' | translate }}</mat-error>
                        <mat-error *ngIf="handleError('email', 'email')">{{ 'formErrors.emailBadFormat' | translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'phoneNumber' | translate }}</mat-label>
                        <span matPrefix>+1 &nbsp;</span>
                        <input matInput [placeholder]="'placeholders.phoneNumber' | translate" formControlName="phoneNumber">
                        <mat-error *ngIf="handleError('phoneNumber', 'pattern')">{{ 'formErrors.phoneNumberBadFormat' | translate }}</mat-error>
                    </mat-form-field>
                    <div class="field">
                        <mat-label>{{ 'Gender' | translate }}</mat-label>
                        <mat-radio-group formControlName="gender" aria-label="Select an option">
                            <mat-radio-button [value]="0">{{ 'Female' | translate }}</mat-radio-button>
                            <mat-radio-button [value]="1">{{ 'Male'| translate }}</mat-radio-button>
                          </mat-radio-group>                         
                    </div>
                    <button type="submit" class="save-button" mat-raised-button color="primary">{{ 'Save' | translate }}</button>
                </form>
            </mat-tab>
            <mat-tab [label]="'Password' | translate">
                <form class="edit-controls" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                    <mat-form-field>
                        <mat-label>{{ 'Password' | translate }}</mat-label>
                        <input matInput [placeholder]="'placeholders.password' | translate" formControlName="password">
                        <mat-error *ngIf="handlePwdError('password', 'required')">{{ 'formErrors.passwordRequired' | translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'confirmPassword' | translate }}</mat-label>
                        <input matInput [placeholder]="'placeholders.confirmPassword' | translate" formControlName="confirmPassword">
                        <mat-error *ngIf="handlePwdError('confirmPassword', 'required')">{{ 'formErrors.confirmPasswordRequired' | translate }}</mat-error>
                    </mat-form-field>
                    <button type="submit" class="save-button" mat-raised-button color="primary">Guardar</button>
                  </form>
            </mat-tab>
          </mat-tab-group>

        
    </div>
</div>