<div *ngIf="item" class="description-card" [ngClass]="[aspectRatioClass]">
    <div class="description-card__image-container">
        <img [src]="item.image" [alt]="item.title">
    </div>
    <div class="description-card__info-container">
        <p class="title">{{item.title}}</p>
        <p class="duration">{{ item.currentWatchers? item.currentWatchers + ' watching now' : item.duration }}</p>
        <div *ngIf="item.isLive" class="live-tag-container">
            <div class="live-tag"><div class="live-text">Live Now</div></div>
        </div>
    </div>
</div>