<div class="container">
            <mat-slider [max]="duration" [min]="0" [step]="1000" (input)="onValueChange($event)">
                <input matSliderThumb [value]="currentTime" 
                >
              </mat-slider>
              
    <div class="controls">
        <div class="controls-group">
            <div (click)="togglePlay.emit()">
                <mat-icon *ngIf="!isPlaying">play_arrow</mat-icon>
                <mat-icon *ngIf="isPlaying">pause</mat-icon>
            </div>
            <mat-icon (click)="onBackward()">replay_10</mat-icon>
            <mat-icon (click)="onForward()">forward_10</mat-icon>
            <div (click)="toggleSound()">
                <mat-icon *ngIf="!isMute">volume_up</mat-icon>
                <mat-icon *ngIf="isMute">volume_off</mat-icon>
            </div>
            <span>{{ currentTime | playerTime }} / {{ duration | playerTime }}</span>
        </div>
    
        <div class="controls-group">
            <mat-icon>settings</mat-icon>
            <mat-icon>picture_in_picture</mat-icon>
            <div (click)="toggleFullscreen()">
                <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
                <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
            </div>
        </div>
    </div>
</div>