<div *ngIf="carousel" class="carousel-container">
    <div class="header">
        <h4>{{carousel.title}}</h4>
        <div class="see-all" (click)="handleSeeAll()"
        >See All <img src="assets/img/svg/arrows/arrow-right.svg" alt="arrow left"></div>
    </div>

    <!--------------------DESCRIPTION CAROUSEL ----------------------------->
    <div *ngIf="isDescription" class="cards-container">
        <app-description-card *ngFor="let item of carousel.content" 
        [item]="item" [aspectRatio]="carousel.aspectRatio" (clickCard)="handleClickCard($event)"
        ></app-description-card>
    </div>
    <!--------------------INNER CAROUSEL ----------------------------->
    <div *ngIf="isInnerCard" class="cards-container">
        <div class="inner-card-container" *ngFor="let item of carousel.content" >
            <app-inner-card [item]="item" [aspectRatio]="carousel.aspectRatio" (clickCard)="handleClickCard($event)"
        ></app-inner-card>
        </div>
    </div>
</div>