<div *ngIf="carousel" class="carousel-container">
    <div class="header">
        <h4>{{carousel.title}}</h4>
        <div class="see-all" (click)="handleSeeAll()"
        >{{ 'seeAll' | translate }}<img src="assets/img/svg/arrows/arrow-right.svg" alt="arrow left"></div>
    </div>

    <!--------------------DESCRIPTION CAROUSEL ----------------------------->
    <div *ngIf="isDescription" class="cards-container">
        <swiper [slidesPerView]="4">
            <ng-template swiperSlide *ngFor="let item of carousel.content">
              <app-description-card  
              [item]="item" [aspectRatio]="carousel.aspectRatio" (clickCard)="handleClickCard($event)"
              ></app-description-card>
            </ng-template>
          </swiper>
    </div>
    <!--------------------INNER CAROUSEL ----------------------------->
    <div *ngIf="isInnerCard" class="cards-container">
        <swiper [slidesPerView]="carouselSize" [spaceBetween]="10">
            <ng-template swiperSlide *ngFor="let item of carousel.content">
                <app-inner-card [item]="item" [aspectRatio]="carousel.aspectRatio" (clickCard)="handleClickCard($event)"
                ></app-inner-card>
            </ng-template>
          </swiper>
    </div>
</div>