@import 'vars';

.carousel-container {
    margin-top: 60px;
}

.cards-container {
    display: flex;
    margin-top: 33px;
    margin-bottom: 33px;
    width: 100%;
    overflow: hidden;
}

.inner-card-container {
    margin-right: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: $margin-side;

    h4 {
        margin: 0;
        padding: 0;
    }

    .see-all {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFF;
        display: flex;
        align-items: center;
        img {
            margin-left: 8px;
        }
    }

    .see-all:hover {
        cursor: pointer;
    }
}