<div *ngIf="carousel" class="hero-carousel">
  <swiper [slidesPerView]="1" [navigation]="true">
    <ng-template swiperSlide *ngFor="let item of carousel.content">
      <div class="swiper-hero-item">
        <div class="overlay"></div>
        <img src="https://play-jolly-assets.s3.amazonaws.com/content/dummy/banner.png" alt="">
        <div class="info">
          <h4>{{item.title}}</h4>
          <h5>{{item.releaseYear}}</h5>
          <h5>{{item.duration}}</h5>
          <p>{{ item.shortDescription }}</p>
          <div class="button-container">
            <button mat-stroked-button color="primary" type="submit" (click)="goToPlayer(item)">
              <mat-icon>play_circle_outline</mat-icon>{{ 'Play' | translate }}
            </button>
            <button mat-stroked-button color="accent" type="submit">
              <mat-icon>playlist_add</mat-icon>{{ 'addWatchlist' | translate }}
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>