<div *ngIf="carousel" class="all-hero-container">
    <div *ngFor="let item of carousel.content" class="hero-container hero-margin">
        <div class="overlay"></div>
        <img src="https://play-jolly-assets.s3.amazonaws.com/content/dummy/banner.png" alt="">
        <div  class="info">
            <h4>{{item.title}}</h4>
            <h5>{{item.releaseYear}}</h5>
            <h5>{{item.duration}}</h5>
            <p>{{ item.shortDescription }}</p>
            <div class="button-container">
                <button mat-stroked-button color="primary" type="submit">
                    <mat-icon>play_circle_outline</mat-icon> Play</button>
                <button mat-stroked-button color="accent" type="submit">
                    <mat-icon>playlist_add</mat-icon> Add to Watchlist</button>
            </div>
        </div>
    </div>
    
    <div class="arrow-left">
        <mat-icon color="primary">chevron_left</mat-icon>
    </div>
    <div class="arrow-right">
        <mat-icon color="primary">chevron_right</mat-icon>
    </div>
</div>