@import 'vars';

.hero-carousel {
    padding-top: 80px;
}

.swiper-hero-item {
    width: 100%;
    height: auto;
    position: relative;

    img {
        width: 100%;
        height: 100%;
    }

    .info {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        padding-left: $space-side;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h4, h5, p {
            margin: 0;
            color: #FFF;
        }
    
        .button-container {
            padding-bottom: 50px;
            padding-top: 10px;
            button {
                margin-right: 10px;
            }
        }
    }
}