<form class="auth-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h1>Set your new password!</h1>
    <p>Keep watching your favourite content.</p>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Placeholder" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error>{{checkForErrorsIn('password')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" placeholder="Placeholder" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error>{{checkForErrorsIn('confirmPassword', 'confirm password')}}</mat-error>
    </mat-form-field>
    <button color="primary" mat-flat-button type="submit" [disabled]="resetPasswordForm.invalid"> Reset Password</button>
  </form>