<div class="card">
    <div class="card-content">
        <h5>{{ title }}</h5>
        <p>{{ message }}</p>
        <div *ngIf="!isOkDialog" class="button-container">
            <button mat-raised-button color="primary" [mat-dialog-close]="dialogReturn.YES" >Yes</button>
            <button mat-raised-button color="accent" [mat-dialog-close]="dialogReturn.NO">No</button>
        </div>
        <div *ngIf="isOkDialog" class="button-container">
            <button mat-raised-button color="primary" [mat-dialog-close]="dialogReturn.OK">Ok</button>
        </div>
    </div>
</div>