<div class="carousel-static">
    <div class="info">
        <h5>Welcome to BD Screens</h5>
        <h1>Download Unlimited Movies, Drama, Music Video and More Content.</h1>
        <p class="description">Enjoy exclusive Music Video popular movies and Live shows. Subscribe BD Screen now </p>
        <form class="select-input-form subscribe-form">
            <select name="" id="">
                <option value="1">+1</option>
                <option value="1">+502</option>
                <option value="1">+91</option>
            </select>
            <div class="separator"></div>
            <input type="text" placeholder="Enter mobile number" />
            <button class="btn-primary" type="submit">Subscribe</button>
        </form>
    </div>
    <div class="overlay"></div>
</div>