<div class="register-container">
    <div class="overlay"></div>
    <div class="card">
        <div class="card-content">
            <h4>New Password</h4>
            <form class="form-controls register-form">
                <div class="form-control">
                    <label for="password">New Password</label>
                    <input type="password" name="password" placeholder="Enter your password" >
                </div>
                <div class="form-control">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" placeholder="Confirm your password" >
                </div>
                <button type="submit" class="btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>