<div class="register-container">
    <div class="overlay"></div>
    <div class="card">
        <div class="card-content">
            <h4>{{ 'newPassword' | translate }}</h4>
            <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" class="form-controls register-form">
                <mat-form-field appearance="fill">
                    <mat-label>{{ 'Password' | translate }}</mat-label>
                    <input matInput type="password" [placeholder]="'placeholders.password' | translate"  formControlName="password">
                    <mat-error *ngIf="handleError('password', 'required')">{{'formErrors.passwordRequired' | translate }}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>{{ 'confirmPassword' | translate }}</mat-label>
                    <input matInput type="password" [placeholder]="'placeholders.confirmPassword' | translate" formControlName="confirmPassword">
                    <mat-error *ngIf="handleError('confirmPassword', 'required')">{{'formErrors.confirmPasswordRequired' | translate }}</mat-error>
                  </mat-form-field>
                <button [disabled]="newPasswordForm.invalid" mat-flat-button color="primary" type="submit">{{ 'Save' | translate }}</button>
            </form>
        </div>
    </div>
</div>