<div class="register-container">
    <div class="overlay"></div>
    <div class="card">
        <div class="card-content">
            <h4>New Password</h4>
            <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" class="form-controls register-form">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter your password" formControlName="password">
                    <mat-error *ngIf="handleError('password', 'required')">Password is required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Confirm your password" formControlName="confirmPassword">
                    <mat-error *ngIf="handleError('confirmPassword', 'required')">Password is required</mat-error>
                  </mat-form-field>
                <button [disabled]="newPasswordForm.invalid" mat-flat-button color="primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>