<div class="details" [ngStyle]="{
    'background-image': content ? 'url(' + (content.backdrop_path | imageUrl: 'original') + ')' : 'none'
    }">
    @if (content) {
    <div class="body">
        <app-banner-block [content]="content"></app-banner-block>
        <app-actions-block (showCredits)="showCredits()" (showTrailer)="showTrailer()"></app-actions-block>
        <p class="body-description">{{content.overview}}</p>
        <p *ngIf="content.runtime" class="body-runtime">{{ content.runtime| duration }}</p>
        <div class="tabs">
            @for (item of tabs; track item.key) {
                <div class="tabs-item" 
                [ngClass]="{'selected': selectedTab?.key === item.key }"
                (click)="selectTab(item)"
                >{{ item.name }}</div>
            }
        </div>       
        @switch (selectedTab?.key) {
            @case ("eps") {
              <app-series-block *ngIf="currentSeason" [seasons]="content.seasons" [currentSeason]="currentSeason"
              (changeSeason)="onChangeSeason($event)"></app-series-block>
            }
            @case ("info") {
                <app-info-block [content]="content"></app-info-block>
            }
            @case ("rec") {
                @if (content.recommendations?.results) {
                    <app-card-list [contentList]="content.recommendations" title="You may like also"></app-card-list>
                } 
                @if (content.similar?.results) {
                    <app-card-list [contentList]="content.similar" title="Similar to this"></app-card-list>
                } 
            }
          }
    </div>
    }
</div>