.actions {
    display: flex;
    gap: 1rem;

    &-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        gap: 0.5rem;
        cursor: pointer;

        &:hover {
            .icon {
                transform: scale(1.2);
            }

            .movie {
                background-image: url("/assets/icons/fa_movie-alt.svg");
            }

            .favorite {
                background-image: url("/assets/icons/mi_favorite-alt.svg");
            }

            .info {
                background-image: url("/assets/icons/ph_info-bold-alt.svg");
            }
        }

        .icon {
            width: 40px;
            height: 40px;
        }
    }
}