
/* forms */ 
 .form-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #FFF;
    padding: 10px 0 10px 0;
 
    a {
       color: $gray;
       transition: all .5s;
       text-decoration: none;
    }
 
    a:hover {
       cursor: pointer;
       text-decoration: underline;
    }
    
 }
