/* fonts */
$primary-font: 'Montserrat', sans-serif; //'Gilroy-Bold';

/* colors */
$dark-black: #0A070B;
$dark-gray: #363536;
$gray: #4F4E50;
$light-gray: #E8ECEF;

$primary-color: #F41B3B;
$primary-color-light: #9c5560;
$secondary-color: #1EBC99;

$light-color: #F9CC0D;
$blue-color: #1884F7;

$gradient-multicolor: linear-gradient(90deg, #F41B3B 0%, #1884F7 100%);


/* others */

$space-side: 70px;
$space-top: 120px;
$border-radius: 3px;