<div class="card">
    <div class="card-content">
        <h5>
        <mat-icon *ngIf="data.type === DeviceType.WEB">computer</mat-icon>
            <mat-icon *ngIf="data.type === DeviceType.SMART_TV">tv</mat-icon>
            <mat-icon *ngIf="data.type === DeviceType.MOBILE_WEB || data.type === DeviceType.MOBILE">phone_iphone
            </mat-icon>
            {{ data.title | translate }}
        </h5>
       <form [formGroup]="inputForm" >
        <mat-form-field appearance="legacy">
            <mat-label>{{ data.placeholder | translate }}</mat-label>
            <input matInput placeholder="" formControlName="value" >
          </mat-form-field>
          <button type="submit" mat-raised-button [mat-dialog-close]="inputForm.value.value" color="primary">{{ data.btnText | translate }}</button>
       </form>
    </div>
</div>