<div class="navbar-container">
    <div class="navbar-container__left">
        <div class="logo" [ngClass]="{'margin-logo': isCover}" routerLink="">
            <img src="assets/img/logo.png" alt="">
        </div>
    
        <div *ngIf="!isCover" class="options">
            <ul>
                <li *ngFor="let item of menuItems" [routerLink]="[item.title.toLowerCase()]" routerLinkActive="item-active">
                    <div class="icon">
                        <app-navbar-icon [type]="item.title_en"></app-navbar-icon>
                    </div>
                    <p class="title">{{ item.title }}</p>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="!isCover" class="navbar-container__right">
        <button class="btn-icon" routerLink="search"><img src="assets/img/svg/search.svg" alt="search"/></button>
        <button *ngIf="!userInfo" class="btn-primary" routerLink="auth/login">Sign In</button>
        <div *ngIf="userInfo" class="user-info" routerLink="/settings">
            <img [src]="userInfo.image" alt="User image">
            <h4> {{ userInfo.name }}</h4>
        </div>
    </div>
</div>
