<div class="devices-container">
    <div *ngFor="let item of viewDevices" class="list-line-item">
        <h5>
            <mat-icon *ngIf="item.type === DeviceType.WEB">computer</mat-icon>
            <mat-icon *ngIf="item.type === DeviceType.SMART_TV">tv</mat-icon>
            <mat-icon *ngIf="item.type === DeviceType.MOBILE_WEB || item.type === DeviceType.MOBILE">phone_iphone
            </mat-icon>
            {{item.name}}
        </h5>
        <p class="active-device" *ngIf="item.isCurrentDevice">Dispositivo actual</p>
        <p [ngClass]="{'active-device': item.status}" *ngIf="item.status">Estado: <span>Activo </span></p>
        <p [ngClass]="{'inactive-device': !item.status}" *ngIf="!item.status">Estado: <span>Inactivo</span></p>
        <p>Registado el: <span>{{ item.enrollDate | date: 'medium'}}</span></p>

        <div class="button-container">
            <button *ngIf="item.status && !item.isCurrentDevice" mat-stroked-button color="primary" (click)="removeDevice()">Eliminar</button>
            <button mat-stroked-button color="accent" (click)="changeDeviceName()" >Cambiar Nombre</button>
        </div>

        <div class="divider"></div>
    </div>
    <mat-paginator [hidePageSize]="true" [length]="devices.length" [pageSize]="SIZE_PAGE" (page)="changePage($event)"
        aria-label="Select page">
    </mat-paginator>
</div>