<div class="register-container">
    <div class="overlay"></div>
    <div class="card">
        <div class="card-content">
            <h4>{{ 'didForgetPassword' | translate }}</h4>
            <p>{{ 'resetPasswordMessage' | translate }}</p>
            <form [formGroup]="resetPasswordForm" class="form-controls register-form" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>{{ 'Email' | translate }}</mat-label>
                    <input matInput type="email" [placeholder]="'placeholders.email' | translate" formControlName="email">
                    <mat-error *ngIf="handleError('email', 'required')">{{ 'formErrors.emailRequired' | translate }}</mat-error>
                    <mat-error *ngIf="handleError('email', 'email')">{{ 'formErrors.emailBadFormat' | translate }}</mat-error>
                </mat-form-field>
                <button [disabled]="resetPasswordForm.invalid" mat-flat-button color="primary" type="submit">{{ 'Register' | translate }}</button>
            </form>
        </div>
    </div>
</div>