<div class="register-container">
    <div class="overlay"></div>
    <div class="card">
        <div class="card-content">
            <h4>did you forget your password? </h4>
            <form [formGroup]="resetPasswordForm" class="form-controls register-form" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Enter your email" formControlName="email">
                    <mat-error *ngIf="handleError('email', 'required')">Email is required</mat-error>
                    <mat-error *ngIf="handleError('email', 'email')">Email bad format</mat-error>
                </mat-form-field>
                <p>We'll send you a email with the instructions to recover your access. </p>
                <button [disabled]="resetPasswordForm.invalid" mat-flat-button color="primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>