@import 'vars';

.register-container {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    background-image:  url('https://play-jolly-assets.s3.amazonaws.com/hero-image-1.png');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        z-index: 1;
        width: 35%;
        .card-content{
            padding: 50px;

            h4 {
                margin: 10px 0;
             }

        }
    }
}

.register-form {
    display: flex;
    flex-direction: column;

    .divider {
        width: 100%;
        text-align: center;
        p {
            color: #FFF;
        }
    }

    &__container {
        display: inline-flex;
        margin-bottom: 5px;

        div {
            flex: 1;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}