@import 'vars';

.aspect-ratio-2x3 {
    width: 214px;
}

.aspect-ratio-16x9 {
    width: 400px;
}

.aspect-ratio-1x1 {
    width: 126px;
}

.inner-card {
    position: relative;
    border-radius: $border-radius;
    margin-right: 16px;

    &__image-container {

        img {
            width: 100%;
            height: auto;
        }
    }

    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(360deg, #0A070B 0%, rgba(10, 7, 11, 0) 100%);
        overflow: hidden;

        .title {
            width: 100%;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            color: #fff;
            margin: 0 0 16px 12px;
            padding: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.inner-card:hover {
    cursor: pointer;
}