<div class="banner-container" *ngIf="contentList">
    @for (item of contentList.contents; track item.id; let  index = $index) {
        <div class="banner" [style.display]="selectedContentIndex == index ? 'flex' : 'none'">
            <img class="banner-image" [src]="item.backdropImage" [alt]="item.image">
            <div class="banner-overlay" 
            (touchstart)="swipe($event)" (touchend)="swipe($event)"
            >
                <div class="banner-data">
                    <img *ngIf="item.titleImage; else title" [src]="item.titleImage" [alt]="item.title">
                    <ng-template #title>
                        <h2>{{item.title}}</h2>
                    </ng-template>
                    <p>{{item.description}}</p>
                    <button [routerLink]="[item.mediaType, item.uid]" class="btn btn-primary">Play Now</button>
                </div>
                <div class="banner-dots">
                    @for (item of contentList.contents; track item.id; let  index = $index) {
                            <span [ngClass]="{'active': selectedContentIndex == index}" (click)="select(index)"></span>
                        }
                </div>
                <div class="banner-arrow icon icon-arrow-left" (click)="previous()"></div>
                <div class="banner-arrow icon icon-arrow-right" (click)="next()"></div>
            </div>
        </div>
        }
</div>