@use 'vars' as v;
@use 'breakpoints' as bp;

.carousel-static {
    width: 100%;
    min-height: 100vh;
    background: url('https://play-jolly-assets.s3.amazonaws.com/hero-image-1.png');
    background-size: cover;
    position: relative;

    .description {
        font-size: 20px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
    }

    h1, h5 {
        color: #FFFFFF;
    }

    h1 {
        font-size: 55px;
        line-height: 60px;
        font-weight: bold;

        @include bp.respond-to(mobile) {
            font-size: 25px;
            line-height: 30px;
        }
    }

    h5 {
        margin-bottom: 25px;
        margin-top: 0;

        @include bp.respond-to(mobile) {
            font-size: 35px;
            line-height: inherit;
        }
    }

    .info {
        position: inherit;
        z-index: 1;
        width: 50%;
        margin-left: v.$space-side;
        padding-top: v.$space-top;
        padding-bottom: 10px;

        @include bp.respond-to(mobile) {
            padding-top: 155px;
            width: 60%;
        }

    }
}

.subscribe-form .mat-form-field-appearance-fill{
    background-color: v.$dark-black !important;
}