<div class="banner-container" *ngIf="contentList">
    @for (item of contentList.results; track item.id; let  index = $index) {
        <div class="banner" [style.display]="selectedContentIndex == index ? 'flex' : 'none'">
            <img class="banner-image" [src]="item.backdrop_path | imageUrl: 'original'" [alt]="item.title">
            <div class="banner-overlay" 
            (touchstart)="swipe($event)" (touchend)="swipe($event)"
            >
                <div class="banner-data">
                    <img *ngIf="item.logo_path; else title" [src]="item.logo_path| imageUrl: 'original'" [alt]="item.title">
                    <ng-template #title>
                        <h1>{{item.title}}</h1>
                    </ng-template>
                    <p>{{item.tagline}}</p>
                    <button [routerLink]="[item.media_type, item.id]" class="btn btn-primary">Play Now</button>
                </div>
                <div class="banner-dots">
                    @for (item of contentList.results; track item.id; let  index = $index) {
                            <span [ngClass]="{'active': selectedContentIndex == index}" (click)="select(index)"></span>
                        }
                </div>
                <div class="banner-arrow icon arrow-left" (click)="previous()"></div>
                <div class="banner-arrow icon arrow-right" (click)="next()"></div>
            </div>
        </div>
        }
</div>