<div class="settings-container">
    <div *ngIf="user" class="profile-container">
        <div class="profile-container__data">
            <div class="image-container">
                <img [src]="user.image" alt="User profile">
                <h4>{{user.name}} 
                    <button mat-icon-button color="accent" (click)="editUser()">
                        <mat-icon>edit</mat-icon>
                      </button>
                </h4>
            </div>
            <div class="item"> <mat-icon>email</mat-icon> <p>{{user.email}}</p></div>
            <div class="item"> <mat-icon>smartphone</mat-icon> <p>{{fullNumber}}</p></div>
            <div class="item"> <mat-icon>push_pin</mat-icon> <p>{{user.country?.name}}</p> </div>
            <div class="item"> <mat-icon>key</mat-icon> <p>{{user.loginMethod}}</p> </div>
        </div>
        <div class="buttons">
            <button (click)="linkDevice()" class="btn-device" mat-stroked-button color="primary">Link Device</button>
            <button (click)="logout()" class="btn-logout" mat-stroked-button color="accent">Salir</button>
        </div>
    </div>
    <div class="options">
        <mat-tab-group mat-align-tabs="end">
            <mat-tab label="Subscription">
                <app-subscriptions></app-subscriptions>
            </mat-tab>
            <mat-tab label="Devices">
                <app-devices></app-devices>
            </mat-tab>
            <mat-tab label="Preferences">
                <app-preferences></app-preferences>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>