table {
    width: 100%;
    border-spacing: 2rem 1rem;

    h3 {
        margin: 0;
        text-align: center;
    }

    tr {
        td {
            width: 50%;
            text-align: center;

            &.right {
                text-align: right;
            }

            &.left {
                text-align: left;
            }
            
        }
    }
}