<div class="card">
    <div class="card-content">
        <h3>Link Device</h3>
        <p>Enter the code displayed on your device in this space</p>
        <form [formGroup]="codeForm" >
            <mat-form-field>
                <mat-label>Device Code</mat-label>
                <input formControlName="code" class="device-input" matInput placeholder="">
              </mat-form-field>
              <button mat-flat-button (click)="linkDevice()" cdkFocusInitial color="primary">Link Device</button>
        </form>
    </div>
</div>