<div class="card">
    <div class="card-content">
        <h4>Editar Perfil</h4>
        <form class="edit-controls">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <span matPrefix>+1 &nbsp;</span>
                <input matInput placeholder="Phone number">
            </mat-form-field>
            <button class="save-button" mat-raised-button color="primary">Guardar</button>
        </form>
    </div>
</div>