<div class="card">
    <div class="card-content">
        <h4>Editar Perfil</h4>
        <form class="edit-controls" [formGroup]="userForm" (ngSubmit)="editUser()" >
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="name">
                <mat-error *ngIf="handleError('email', 'required')">El nombre es requerido</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="handleError('email', 'required')">El email es requerido</mat-error>
                <mat-error *ngIf="handleError('email', 'email')">El email tiene un formato incorrecto</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <span matPrefix>+1 &nbsp;</span>
                <input matInput placeholder="Phone number" formControlName="phoneNumber">
                <mat-error *ngIf="handleError('phoneNumber', 'pattern')">El numero tiene un formato incorrecto</mat-error>

            </mat-form-field>
            <button type="submit" class="save-button" mat-raised-button color="primary">Guardar</button>
        </form>
    </div>
</div>