.card-content {
    padding: 50px;

    h4 {
        margin-top: 0;
    }
}

.edit-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 15px;
}

.save-button {
    padding: 5px 25px;
    width: 60%;
}

.field {
    width: 100%;
}

mat-form-field {
    padding-bottom: 10px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 15px;

    mat-radio-button {
        margin-top: 15px;
    }
}