<div class="subscriptions-container">

    <div *ngFor="let item of viewSubscriptions" class="list-line-item">
        <h5>{{item.name}}</h5>
        <p [ngClass]="{'active-plan': item.status}" *ngIf="item.status">Estado: <span>Activo </span></p>
        <p [ngClass]="{'inactive-plan': !item.status}" *ngIf="!item.status">Estado: <span>Inactivo</span></p>

        <p>Adquirido en <span>{{item.purchased | date:'longDate'}}</span></p>
        <p>Precio: <span>{{item.currency}}{{item.price}}</span></p>
        <p *ngIf="item.status">Proxima Facturación: <span>{{item.nextInvoice | date:'longDate'}}</span></p>
        <p *ngIf="!item.status">Valido hasta: <span>{{item.validUntil | date:'longDate'}}</span></p>
        <div class="button-container">
            <button *ngIf="item.status" mat-stroked-button color="primary">Cambiar Plan</button>
            <button *ngIf="!item.status" mat-stroked-button color="primary">Renovar Plan</button>
            <button *ngIf="item.status" mat-stroked-button color="accent">Cancelar Plan</button>
        </div>
        <div class="divider"></div>
    </div>
    <mat-paginator 
    [hidePageSize]="true"
    [length]="subscriptions.length" [pageSize]="SIZE_PAGE" (page)="changePage($event)" aria-label="Select page">
    </mat-paginator>
</div>