@use './app/styles/breakpoints.scss' as bp;
@import './app/styles/icons.scss';
@import './app/styles/buttons.scss';
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: #1C1C1C;
    font-family: "Lato", sans-serif;
    color: #EEEEEE;
    --body-padding: 2rem;
    --primary-color: #E4B200;
    --color: #EEEEEE;
    --navbar-height: 70px;
    
    @include bp.sm-breakpoint {
        --body-padding: 1rem;
    }

}