@use 'breakpoints.scss' as bp;
@use 'icons.scss';
@use 'buttons.scss';
@use 'theme.scss';

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: #1C1C1C;
    font-family: "Lato", sans-serif;
    color: #EEEEEE;
    --background: #1C1C1C;
    --body-padding: 2rem;
    --primary-color: #E4B200;
    --color: #EEEEEE;
    --navbar-height: 70px;
    --mat-sidenav-content-background-color: #1C1C1C;
    --mat-sidenav-container-background-color: #1C1C1C;
    --mat-sidenav-scrim-color: #00000099;

    @include bp.sm-breakpoint {
        --body-padding: 1rem;
    }

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel,
.mat-mdc-select-panel-above div.mat-mdc-select-panel {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
    }
}

.credits-backdrop,
.player-backdrop,
.episode-dialog-backdrop {
    background: #00000099;
}

.credits-panel  {
    --mdc-dialog-container-color: #1C1C1C;
    padding: 1rem;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    ::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
    }
}

.episode-dialog-panel {
    --mdc-dialog-container-color: #1C1C1C;
}

.player-panel {
    .mdc-dialog__surface {
        overflow-y: visible !important;
    }
}