.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &.search {
        background-image: url("/assets/icons/fa_search.svg");
    }
    &.bookmark {
        background-image: url("/assets/icons/fa_bookmark.svg");
    }
    &.user {
        background-image: url("/assets/icons/fa_user-circle.svg");
    }
    &.menu {
        background-image: url("/assets/icons/fa_menu.svg");
    }
    &.arrow-left {
        background-image: url("/assets/icons/icon-park_left.svg");
    }
    &.arrow-right {
        background-image: url("/assets/icons/icon-park_right.svg");
    }
    &.movie {
        background-image: url("/assets/icons/fa_movie.svg");
    }
    &.favorite {
        background-image: url("/assets/icons/mi_favorite.svg");
    }
    &.favorite-fill {
        background-image: url("/assets/icons/mi_favorite-fill.svg");
    }
    &.info {
        background-image: url("/assets/icons/ph_info-bold.svg");
    }
}