<div class="tabs">
    @for (item of tabs; track item.key) {
        <div class="tabs-item" 
        [ngClass]="{'selected': selectedTab?.key === item.key }"
        (click)="selectTab(item)"
        >{{ item.name }}</div>
    }
</div>

@switch (selectedTab?.key) {
    @case ("eps") {
      <app-series-block [content]="content"></app-series-block>
    }
    @case ("info") {
        <app-info-block [content]="content"></app-info-block>
    }
    @case ("rec") {
        @if (recommendations && recommendations.contents.length > 0) {
            <app-card-list [contentList]="recommendations"></app-card-list>
        } 
    }
    @default {
        <h1>Nothing new</h1>
      }
  }