.auth-form {
    position: relative;
}

.tag {
    position: absolute;
    right: 5%;
    bottom: -5%;
    z-index: 1;
    transform: rotate(-10deg);
    background: rgb(42 41 41 / 90%);
    border-radius: 8px;
    padding: 1rem;
    width: fit-content;
    cursor: pointer;
    p {
        font-size: 12px;
        text-align: left;
        margin: 0;
    }
    &:hover {
        transform: scale(1.1) rotate(-10deg);
    }
}