@import 'vars';

footer {
    border-top: 2px solid $gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px;
    position: relative;
    margin-top: 100px;
}

.container-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    mat-form-field {
        width: 75%;
    }
}


.arrow-top {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 50px;
    padding: 10px;
}

.menu {
    display: inline-flex;
    list-style: none;

    li a {
        height: 100%;
        display: flex;
        text-decoration: none;
        color: #FFF;
        font-size: 16px;
        padding-right: 15px;
        padding-left: 15px;
        border-right: 1px solid $gray;
    }

    li:last-child a {
        border: none;
    }
}

.social-media .menu {
    li a {
        color: $gray;
        img {
            width: 25px;
        }
    }
}