<footer>
    <div class="arrow-top btn-primary"><img src="assets/img/svg/arrows/arrow-top.svg" alt="arrow top"></div>
    <ul class="menu">
        <li>
            <a href="">{{ 'Feedback' | translate }}</a>
        </li>
        <li>
            <a href="">{{ 'Help' | translate }}</a>
        </li>
        <li>
            <a href="">{{ 'FAQ' | translate }}</a>
        </li>
    </ul>
    <div class="logo">
        <img src="assets/img/logo.png" alt="">
    </div>
    <div class="social-media">
        <ul class="menu">
            <li>
                <a href="">{{ 'followOn' | translate }}</a>
            </li>
            <li>
                <a href="">
                    <img src="assets/img/svg/social-media/facebook.svg" alt="facebook">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="assets/img/svg/social-media/instagram.svg" alt="instagram">
                </a>
            </li>
        </ul>
    </div>
</footer>