<div class="info">
    <h2>Application Information</h2>
    <div class="info-item">
        <p class="title">Version</p>
        <p class="value">2.0.0</p>
    </div>
    @if(deviceInfo) {
        <div class="info-item">
            <p class="title">Platform</p>
            <p class="value">{{deviceInfo.deviceType}}</p>
        </div>
        <div class="info-item">
            <p class="title">Browser</p>
            <p class="value">{{deviceInfo.browser}}</p>
        </div>
        <div class="info-item">
            <p class="title">SO</p>
            <p class="value">{{deviceInfo.os_version}}</p>
        </div>
    }

    <div class="info-item">
        <p class="title">Date</p>
        <p class="value">{{ date | date: 'long' }}</p>
    </div>
</div>