<div *ngIf="content" class="details-container">
    <div class="content-container">
        <div class="content-container__banner" (click)="redirectToPlayer()">
            <img src="https://play-jolly-assets.s3.amazonaws.com/content/dummy/details-16x9.png" alt="">
            <div class="overlay">
            </div>
            <img class="play-icon" src="assets/img/svg/player/play.svg" alt="Play">
        </div>
        <div class="content-container__info">
            <div class="data-container">
                <div class="data">
                    <p class="title">{{content.title }}</p>
                    <p class="subtitle">
                        {{ content.releaseYear }} 
                        <span class="circle"></span>
                        {{ content.duration }}
                    </p>
                </div>
                <div class="options">
                    <div class="item">
                        <mat-icon>playlist_add</mat-icon>
                        <p>{{ 'addWatchlist' | translate }}</p>
                    </div>
                    <div class="item">
                        <mat-icon>file_download</mat-icon>
                        <p>{{ 'Download' | translate }}</p>
                    </div>
                    <div class="item">
                        <mat-icon>share</mat-icon>
                        <p>{{ 'Share' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="tags">
                <p class="tag" *ngFor="let item of content.tags" >{{ item }} <span class="circle"></span> </p>
            </div>
            <div class="type">
                <p>{{ content.type }}</p>
            </div>
            <div class="description">
                <h4>{{ 'Description' | translate }}</h4>
                <p>{{content.description}}</p>
            </div>
        </div>
    </div>
    <div class="suggestions">
        <app-grid-carousel [carousel]="suggestedCarousel" ></app-grid-carousel>     
    </div>
</div>
<div class="related">
    <app-card-carousel [carousel]="relatedCarousel"></app-card-carousel>
</div>