<div class="banner" *ngIf="content">
    <img class="banner-image" [src]="content.backdrop_path | imageUrl: 'original'" [alt]="content.title">
    
    <div class="banner-overlay">
        <div class="banner-data">
            <img *ngIf="content.logo_path; else title" [src]="content.logo_path| imageUrl: 'original'" [alt]="content.title">
            <ng-template #title>
                <h1>{{content.title}}</h1>
            </ng-template>
            <button class="btn btn-primary">Play Now</button>
        </div>
    </div>
</div>